@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<script src="~/Scripts/AlarmApp.js"></script>
<div ng-app="alarmApp">
    <div ng-controller="paneCtrl">
        <span class="btn boolean" ng-click="firePanel.IsArmed=!firePanel.IsArmed" ng-model="firePanel.IsArmed">
            <span class="on btn-primary" ng-show="firePanel.IsArmed">ON</span>
            <span class="off btn-default" ng-hide="firePanel.IsArmed">OFF</span>
        </span>
        <br/>
        <br/>
        Is Armed (from Service): {{panel.IsArmed}}</br>
        Is Armed (Firebase): {{firePanel.IsArmed}}
        
        
    </div>
</div>
